@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JejuMyeongjo';
    src: url('./assets/Fonts/JejuMyeongjo-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  .step-heading {
    font-family: "JejuMyeongjo";
  }

  main, body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }