@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JejuMyeongjo';
    src: url('./assets/Fonts/jejumyeongjo-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  .step-heading {
    font-family: "JejuMyeongjo";
  }